.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}
.div1, .div2, .div3{
    background-color: bisque;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    font-size: 50px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }

    .div1, .div2, .div3{
        font-size: 20px;
        background-color: bisque;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        width: 80%;
    }
}